name: Build and Push Docker Image

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: image=moby/buildkit:latest
        # replace "latest" with stable version if needed

      - name: login to docker hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: build and push docker image
        if: github.event_name == 'push'
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 -t docker.io/${{ secrets.DOCKER_HUB_USERNAME }}/docker-test:latest . --push

  # buildx doesn't store under local docker daemon image storage

  # testing with selenium
  test:
    runs-on: ubuntu-latest
    needs: build # Ensures tests run after the build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Google Chrome
        uses: browser-actions/setup-chrome@v2
        with:
        chrome-version: "latest"

      - name: Set up Docker
        run: docker compose up -d

      - name: Run WebdriverIO Tests
        run: |
          docker build -t web-test -f Dockerfile.test .
          docker run --rm web-test

      - name: Stop Docker services
        if: always()
        run: docker compose down
